:root {
  --iconHeaderColor: #e8ebf0;
  --borderHeaderColor: #e8ebf0;
  --borderHeaderBottom: #dee1e8;
  --headerColor: #fff;
  --bodyColor: #eff2f6;
  --menuColor: #262f3c;
  --menuColorHover: #2e3746;
  --borderMenuColorHover: #00b0ff;
  --menuTextColor: #ddd;
  --icoMenuColor: #8894ab;
  --icoMenuColorHover: #fcfcfd;
  --btnColorHover: #5c5b5ba6;
  /* acacac00 */
}
body {
  background-color: var(--bodyColor);
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: regular;
}
.wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "menu header header header"
    "menu main main main";
}
/*Header*/
#header {
  grid-area: header;
}
.headerContainer {
  background-color: var(--headerColor);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px;
  border-bottom: 2px solid var(--borderHeaderBottom);
}
.configurationUser,
.notificationUser {
  padding: 20px 20px;
}
.profileUser {
  padding: 4px 0px;
}
.configurationUser {
  border-left: 1.5px solid var(--borderHeaderColor);
  border-right: 1.5px solid var(--borderHeaderColor);
}
.notificationUser {
  border-right: 1.5px solid var(--borderHeaderColor);
}
.profileUser {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icoHeader {
  color: var(--iconHeaderColor);
}
/*SideBar*/
#sideMenu {
  grid-area: menu;
  position: fixed;
}
/*Estilos generales*/
nav {
  background-color: var(--menuColor);
  height: 100vh;
}
nav ul {
  padding: 0;
  margin: 0;
  position: relative;
}
nav ul li {
  list-style: none;
}
nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--menuTextColor) !important;
  text-decoration: none;
  padding: 20px 20px;
}
nav a i {
  margin-right: 20px;
}
nav span {
  display: block;
  color: var(--menuTextColor);
  padding: 20px 20px;
}
nav a:hover {
  background-color: var(--menuColorHover);
  border-left: 2px solid var(--borderMenuColorHover);
}
nav a:hover i {
  color: var(--borderMenuColorHover);
}
nav span:hover {
  cursor: pointer;
  background-color: var(--menuColorHover);
  border-right: 4px solid var(--borderMenuColorHover);
}
/* nav li ul {
  display: none;
}
nav li:hover ul {
  display: block;
} */
/*Estilos del primer nivel*/
nav li li {
  max-height: 0;
  overflow: hidden;
  transition: all 0.9s;
}
nav li:hover li {
  max-height: 500px;
  overflow: visible;
}
.icoMenu {
  color: var(--icoMenuColor);
}
.icoMenuArrow {
  text-align: end;
}
.imgContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.imgContainer figure {
  margin: 0;
  padding: 0;
}
.imgContainer img {
  width: 100px;
  height: 100px;
}
/*Main*/
#main {
  grid-area: main;
}
.tableContainer {
  display: none;
  align-items: center;
  justify-content: flex-start;
  margin: 25px 25px;
}
.tableContainerBusqueda {
  display: grid;
}
.contenidoModal {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 40px;
}
table {
  border-collapse: collapse;
}
table a {
  text-decoration: none;
  color: #000;
}
table a:hover {
  text-decoration: underline;
}
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}
.contenidoModal table tr:nth-child(even) {
  background-color: #ddd;
}
/*Insertar producto*/
.containerInsert {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 50px 25px;
}
.containerInsert form {
  display: grid;
  padding: 40px;
  border-radius: 15px;
  width: 500px;
  background-color: #fff;
}
.containerInsert form label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.containerInsert form label select {
  width: 200px;
  border: transparent;
}
.containerInsert form label input {
  width: 200px;
  border: transparent;
  border-bottom: 1px solid black;
}
.containerInsert form label input:focus {
  border-bottom: 1px solid black;
  outline: none;
}
.inputNotas {
  size: 100px;
  width: 100px;
}
.submitBtn {
  width: 100%;
  border-radius: 20px;
  border: 3px solid transparent;
  margin-top: 10px;
  padding: 10px 0px;
}
.submitBtn:hover {
  cursor: pointer;
  background-color: var(--btnColorHover);
}
/*Table fabricante*/
.containerFabricante {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 25px 25px;
}
.contenidoFabricante {
  background-color: #fff;
  border-radius: 5px;
}
.contenidoFabricante table tr:nth-child(even) {
  background-color: #ddd;
}
